<section class="page-content">
  <div class="body-container">
    <h1 class="page-title">Animals</h1>
    <div class="animal-list">
      <p><a href="/animals/ready">Ready for Adoption</a></p>
      <p><a href="#">Not Ready for Adoption</a></p>
      <p><a href="/animals">All</a></p>
    </div>
    <% for animal in @animals %>
    <img class="animal-pictures" src="<%=animal.picture%>"/>
    <p>Animal name: <%= animal.name %></p>
    <p>Type: <%= animal.type %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Age: <%= animal.age %></p>
    <p>Date added: <%= animal.date_format %></p>
    <p>Adoptable: <%= animal.available %></p>
    <hr/>
    <% end %>

  </div>
</section>
